{
  "plugins": ["transform-class-properties", "transform-object-rest-spread"],
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "node": "6.10"
        }
      }
    ]
  ]
}
